<div class="container-fluid">
            <div class="row">
                <div class="col-sm-offset-2 col-sm-6">
                    
                    <div id="sAlert_placeholder"></div>
                    
                    <div class="h1-a">
                        <h1>Contact Us</h1>
                    </div>
                    <h3>We are here to help.</h3>
                    <p>Please fill out this simple form and somebody will get back to you shortly.</p>
                    <br>
                    
                    <form ng-submit="submit()">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-3">
                                    <label for="name">Your Name</label>
                                </div>
                                <div class="col-sm-9">
                                    <input required ng-model="cntct.name" name="name" type="text" class="form-control in-box" >
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-3">
                                    <label for="email">Your Email</label>
                                </div>
                                <div class="col-sm-9">
                                    <input required ng-model="cntct.email" type="email" class="form-control in-box" name="email">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-3">
                                    <label for="subject">Subject</label>
                                </div>
                                <div class="col-sm-9">
                                    <input required ng-model="cntct.subject" type="text" class="form-control in-box" name="subject">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-3">
                                    <label for="msg">Message</label>
                                </div>
                                <div class="col-sm-9">
                                    <textarea required ng-model="cntct.msg" class="form-control" rows="4" name="msg"></textarea>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row" >
                            <div class="col-xs-offset-3 col-xs-4">
                                <button type="submit" class="btn btn-primary ">Submit</button>
                            </div>
                            <div class="col-xs-4">
                                <button ng-click="reset()" type="reset" class="btn btn-danger ">Clear</button> <!-- ng-click="reset()"-->
                            </div>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
        <br>