<div class="container-fluid">
    
    
    <div ng-show="isNew" class="row">
        <div class="col-sm-offset-2 col-sm-8">
        
            <div class="row">
             <form class="form-inline">
                 
                 <div class="col-xs-5">
                    <div class="form-group">
                         <h3>Search: </h3> 
                </div>
                <div class="form-group">
                        <input class="form-control" ng-model="qry">
                </div>
                </div>
                 
                 <div class="col-xs-7">
                    
                     <div class="form-group">
                        <h3>Sort By: </h3>
                    </div>
                    <div class="form-group">
                        <select class="form-control"  ng-model="arOr">
                            <option selected value="application.apply_date">Apply Date</option>
                          <option value="faculty.department">Department</option>
                          <option value="faculty.fname">Name</option>
                          <option value="application.days">Days</option>
                          <option value="application.days">Type of Leave</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <h4>
                  <label class="radio-inline"><input type="radio"  ng-model="dir" name="direction">Ascending</label>
                  <label class="radio-inline"><input type="radio"  ng-model="dir" name="direction" value="reverse">Descending</label>

                        </h4>
                    </div>
                     
                 </div>
                
            </form>
        </div>    
            
            <br>
            
        <table class="table table-striped table-responsive">
            <thead>
                <tr>
                <th>Name</th>
                <th>Department</th>
                <th>Employee ID</th>
                <th>Apply date</th>
                <th>Type of leave</th>
                <th>Days</th>
                
              </tr>
            </thead>
            <tbody style="height: 120px;overflow-y: auto;">
                
                <tr style="cursor: pointer;" class="ntfTable" ng-repeat="it in arr | filter: qry | orderBy: arOr:dir" ng-click='getDetail()'>
                    
                    <td>{{it.faculty.fname +" "+it.faculty.lname}}</td>
                    <td>{{it.faculty.department}}</td>
                    <td>{{it.faculty.eid}}</td>
                    <td>{{it.application.apply_date}}</td>
                    <td>{{it.application.type_of_leave}}</td>
                    <td>{{it.application.days}}</td>
                    
                </tr>
                
            </tbody>
        </table>
        </div>
    </div>
    
    <div style="height: 70%;" ng-show="!isNew" class="text-center">
        <div class="alert alert-success text-center">
            <span>
                All Caught up! <span class="glyphicon glyphicon-ok"></span>
            </span>
        </div>
    </div>
    
</div>
        


